@page
@model MyFirstApplication.Pages.mainModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 0; background-color: lightblue;">
    <h1 style="margin-top: 16px; margin-bottom: 16px; text-align: center;"> our solar system </h1>
    <img src="https://www.thoughtco.com/thmb/wfh2ETqJOVDwBEMpNK3ecX8xANA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/PIA06890-56a8ccd83df78cf772a0c5df.jpg" style="width: 100%;height: 600px;" />
    <p style="padding: 16px; line-height: 1.5; font-size: 24px;">The Solar System is the gravitationally bound system of the Sun and the objects that orbit it. The largest of these objects are the eight planets</p>

    <p style="padding: 16px; line-height: 1.5; font-size: 24px; color:blueviolet">
        The Solar System[c] is the gravitationally bound system of the Sun and the objects that orbit it.[4] The largest of these objects are the eight planets, which in order from the Sun are four terrestrial planets (Mercury, Venus, Earth and Mars); two gas giants (Jupiter and Saturn); and two ice giants (Uranus and Neptune). The Solar System developed 4.6 billion years ago when a dense region of a molecular cloud collapsed, forming the Sun and a protoplanetary disc.

        All four terrestrial planets belong to the inner Solar System and have solid surfaces. In
    </p>

</body>
</html>